  <!-- <form #form="ngForm">
        <div class="form-group">
          <label>Id</label><br>
          <input type="text" name="doctorName" #searchNumber="ngModel" [(ngModel)]="test.doctorName" class="form-cotrol">
        </div>   
<button (click)="findDoctor()">Find</button> 
</form> -->
<!-- 
<form #form="ngForm">
<div class="form-group">
  <label>Student Data</label>
  <input type="text" name="studentName" #searchStudent="ngModel" [(ngModel)]="test.studentName" class="form-control">
</div>
<button (click)="studentMarks()">Find</button>
</form> -->
