.container{
    display: flex;
    flex-direction: column;
}
input{
    width: 300px;height: 40px;
}
table{
    margin: auto;
     width: 50%;
}

.button {
    margin-left:310px; 
    }
.btn{
    
    margin-left: 250px;
}
.cash{
    margin-left: 350px ;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
  