<mat-horizontal-stepper>
   <mat-step [stepControl]="firstFromGroup">
      <form>
         <ng-template matStepLabel>Fill out the form </ng-template><br>
         <mat-form-field>
            <!-- <mat-label>Department</mat-label> -->
            <mat-select placeholder="Department" name="DefaultDepartment" [(ngModel)]="DefaultDepartment"
               (selectionChange)="getDoctorList()">
               <mat-option *ngFor="let dept of DepartmentList" [value]="dept.Id">{{ dept.Name }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <div class="table table-striped">
            <thead>
               <th>Select</th>
               <th>Id</th>
               <th> Name</th>
               <th>Specialization</th>
               <th>AvailableSlot</th>
            </thead>
            <tbody>
               <tr *ngFor="let doc of doctorList">
                  <td>
                     <mat-radio-group name="consultingDoctorId" [(ngModel)]="consultingDoctorId">
                        <mat-radio-button [value]="doc.Id"></mat-radio-button>
                     </mat-radio-group><br>
                  </td>
                  <td>{{doc.Id}}</td>
                  <td>{{doc.FirstName}} {{doc.LastName}}</td>
                  <td>{{doc.SpecializedIn}}</td>
                  <td><button mat-raised-button color="primary" name="availableslot"  (click)="openDialog(doc.Id)">AvailableSlot</button></td>
               </tr>
            </tbody>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
         </div>
         <button class="btn" mat-flat-button color="primary" matStepperNext>Next</button>
      </form>
   </mat-step>
   <mat-step [stepControl]="secondFromGroup">
      <form>
         <ng-template matStepLabel>Fill out the details </ng-template><br>
         <table class="table">
            <div class="form-group ">
               <tr>
                  <td class="col">
                     <input type="text" name="Id" #Id="ngModel" [(ngModel)]="patient.Id" class="form-control"
                        placeholder="Id">
                  </td>
                  <td class="col">
                     <input type="text" name="FirstName" #First Name="ngModel" [(ngModel)]="patient.FirstName"
                        class="form-control" placeholder="First Name">
                  </td>
               </tr>
               <tr>
                  <td class="col">
                     <input type="text" name="LastName" #Last Name="ngModel" [(ngModel)]="patient.LastName"
                        class="form-control" placeholder="Last Name">
                  </td>
                  <td class="col">
                     <input type="email" name="Email" #Email="ngModel" [(ngModel)]="patient.Email" class="form-control"
                        placeholder="Email">
                  </td>
               </tr>
               <tr>
                  <td class="col">
                     <input type="text" name="MobileNumber" #Mobile="ngModel" [(ngModel)]="patient.MobileNumber"
                        class="form-control" placeholder="Mobile Number">
                  </td>
                  <td class="col">
                     <input type="text" name="AddressLine1" #AddressLine1="ngModel" [(ngModel)]="patient.AddressLine1"
                        class="form-control" placeholder="AddressLine1">
                  </td>
               </tr>
               <tr>
                  <td class="col">
                     <input type="text" name="AddressLine2" #AddressLine2="ngModel" [(ngModel)]="patient.AddressLine2"
                        class="form-control" placeholder="AddressLine2">
                  </td>
                  <td class="col">
                     <input type="text" name="City" #City="ngModel" [(ngModel)]="patient.City" class="form-control"
                        placeholder="City">
                  </td>
               </tr>
               <tr>
                  <td class="col">
                     <input type="text" name="State" #State="ngModel" [(ngModel)]="patient.State" class="form-control"
                        placeholder="State">
                  </td>
                  <td class="col">
                     <input type="text" name="Country" #Country="ngModel" [(ngModel)]="patient.Country"
                        class="form-control" placeholder="Country">
                  </td>
               </tr>
               <tr>
                  <td class="col">
                     <button mat-flat-button color="primary" matStepperPrevious>Back</button></td>
                  <td class="col">
                     <button mat-flat-button color="primary" matStepperNext>Next</button></td>
               </tr>
            </div>
         </table>
      </form>
   </mat-step>
   <mat-step [stepControl]="thirdFromGroup">
      <form>
         <ng-template matStepLabel>Payment details</ng-template><br>
         <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
               <mat-expansion-panel-header>
                  <mat-panel-title>
                     CreditCard
                  </mat-panel-title>
               </mat-expansion-panel-header>
               <mat-panel-description>
                  <table class="table">
                     <div class="form-group ">
                        <tr>
                           <td class="col">
                              <input type="text" name="CardNumber" #CardNumber="ngModel"
                                 [(ngModel)]="payment.CardNumber" class="form-control" placeholder="Card Number">
                           </td>
                           <td class="col">
                              <input type="text" name="ExpirationDate" #ExpirationDate="ngModel"
                                 [(ngModel)]="payment.ExpirationDate" class="form-control"
                                 placeholder="Expiration Date">
                           </td>
                        </tr>
                        <tr>
                           <td class="col">
                              <input type="text" name="CVV" #CVV="ngModel" [(ngModel)]="payment.CVV"
                                 class="form-control" placeholder="Cvv">
                           </td>
                           <td class="col">
                              <input type="text" name="CustomerName" #CustomerName="ngModel"
                                 [(ngModel)]="payment.CustomerName" class="form-control" placeholder="Name on the card">
                           </td>
                        </tr>
                        <!-- <div><button class="button" mat-raised-button color="primary"
                              (click)="saveAppointment()">Save</button></div> -->
                     </div>
                  </table>
               </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
               <mat-expansion-panel-header>
                  <mat-panel-title>
                     DebitCard
                  </mat-panel-title>
               </mat-expansion-panel-header>
               <mat-panel-description>
                  <table class="table">
                     <div class="form-group ">
                        <tr>
                           <td class="col">
                              <input type="text" name="CardNumber" #CardNumber="ngModel"
                                 [(ngModel)]="payment.CardNumber" class="form-control" placeholder="Card Number">
                           </td>
                           <td class="col">
                              <input type="text" name="ExpirationDate" #ExpirationDate="ngModel"
                                 [(ngModel)]="payment.ExpirationDate" class="form-control"
                                 placeholder="Expiration Date">
                           </td>
                        </tr>
                        <tr>
                           <td class="col">
                              <input type="text" name="CVV" #CVV="ngModel" [(ngModel)]="payment.CVV"
                                 class="form-control" placeholder="Cvv">
                           </td>
                           <td class="col">
                              <input type="text" name="CustomerName" #CustomerName="ngModel"
                                 [(ngModel)]="payment.CustomerName" class="form-control" placeholder="Name on the card">
                           </td>
                        </tr>
                     </div>
                  </table>
               </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
               <mat-expansion-panel-header>
                  <mat-panel-title>
                     OfflinePayment
                  </mat-panel-title>
                  <mat-panel-description>
                     CashMode of payment
                  </mat-panel-description>
               </mat-expansion-panel-header>
               <mat-panel-description>
                  <h5 class="cash">You can pay fees during your visit to the hospital!</h5>
               </mat-panel-description>

            </mat-expansion-panel>
         </mat-accordion>
         <div><button class="button" mat-raised-button color="primary" (click)="saveAppointment()">Save</button></div>
      </form>
   </mat-step>
</mat-horizontal-stepper>