<div>
  <!-- <nav>
  <a routerLink="/list-department" mat-raised-button color="primary">List Department</a>
  <a routerLink="/add-department" mat-raised-button color="primary">Add Department</a>
  </nav>   -->
  <!-- <app-list-department></app-list-department> -->
 <mat-toolbar color="primary">
   <mat-toolbar-row  >
  <a routerLink="./list-department" mat-raised-button >Department</a>
  <a routerLink="./list-doctor" mat-raised-button >Doctor</a>
</mat-toolbar-row>
 </mat-toolbar>
  <router-outlet></router-outlet>
</div>