<form>
<div class="table table-bordered">
    <h5 class="doctor">Dr. {{doctor.FirstName}} {{doctor.LastName}}</h5>
  <tr>
    <th class="color"><h6>Date Of appointment</h6></th>
    <th class="color"><h6>Select Time</h6></th>
  </tr>
  <tr>
    <td class="calendar-wrapper">
        <mat-calendar #calendar name="consultationDate" [(selected)]="selectedDate" [(ngModel)]="selectedDate">

        </mat-calendar>
    </td>
    <td>
      <mat-button-toggle-group vertical name="slotSelected" fxLayout="row" [(ngModel)]="slotSelected" aria-label="Font Style" 
      *ngFor="let slot of slotList" [value]="slot">
        <mat-button-toggle fxFlex="33%" [value]="slot.Id" >{{slot.From}}</mat-button-toggle>
      </mat-button-toggle-group>
    </td>
  </tr>
</div>
<button mat-raised-button color="primary"  (click)="continue()">Continue</button>
<button class="Close" mat-raised-button color="primary" (click)="close()">Close</button>
</form>
    <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="consultationDate"
               name="ConsultationTime">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
         </mat-form-field> -->
